In [1]:
#!pip3 install mat73
import os

In [2]:
import scipy.io
import numpy as np
import pandas as pd
import mat73

In [3]:
cafa4_baseline_map = {
    '/data/common/CAFA4/baselines/bpo/BB4S.mat': '/data/common/CAFA4/baselines/python_extracted/bpo/BB4S.tsv',
    '/data/common/CAFA4/baselines/cco/BB4S.mat': '/data/common/CAFA4/baselines/python_extracted/cco/BB4S.tsv',
    '/data/common/CAFA4/baselines/mfo/BB4S.mat': '/data/common/CAFA4/baselines/python_extracted/mfo/BB4S.tsv',
    '/data/common/CAFA4/baselines/bpo/BN4S.mat': '/data/common/CAFA4/baselines/python_extracted/bpo/BN4S.tsv',
    '/data/common/CAFA4/baselines/cco/BN4S.mat': '/data/common/CAFA4/baselines/python_extracted/cco/BN4S.tsv',
    '/data/common/CAFA4/baselines/mfo/BN4S.mat': '/data/common/CAFA4/baselines/python_extracted/mfo/BN4S.tsv'
}

In [5]:
for matlab_path, output_path in cafa4_baseline_map.items():
    cmd = "python3 pred2tsv.py " + "new " + matlab_path + " " + output_path + " > out.log &" 
    print(cmd)
    os.system(cmd)

python3 pred2tsv.py new /data/common/CAFA4/baselines/bpo/BB4S.mat /data/common/CAFA4/baselines/python_extracted/bpo/BB4S.tsv > out.log &
python3 pred2tsv.py new /data/common/CAFA4/baselines/cco/BB4S.mat /data/common/CAFA4/baselines/python_extracted/cco/BB4S.tsv > out.log &
python3 pred2tsv.py new /data/common/CAFA4/baselines/mfo/BB4S.mat /data/common/CAFA4/baselines/python_extracted/mfo/BB4S.tsv > out.log &
python3 pred2tsv.py new /data/common/CAFA4/baselines/bpo/BN4S.mat /data/common/CAFA4/baselines/python_extracted/bpo/BN4S.tsv > out.log &
python3 pred2tsv.py new /data/common/CAFA4/baselines/cco/BN4S.mat /data/common/CAFA4/baselines/python_extracted/cco/BN4S.tsv > out.log &
python3 pred2tsv.py new /data/common/CAFA4/baselines/mfo/BN4S.mat /data/common/CAFA4/baselines/python_extracted/mfo/BN4S.tsv > out.log &

In [ ]:
matlab_pred_path = '/home/rashika/Y_CAFA2_fix/CAFA2/baselines/bpo/BB4S.mat'
output_path = '/home/rashika/Y_CAFA2_fix/CAFA2/test.tsv'

In [ ]:
matlab_pred_path = '/data/common/CAFA4/baselines/mfo/BN4S.mat'

In [10]:
x = pd.read_csv('/data/common/CAFA4/baselines/python_extracted/bpo/BN4S.tsv', sep = '\t', header = None)
y = pd.read_csv('/data/yisupeng/sharing/cafa4/all_models/naive', sep = '\t', header = None, nrows = 20)

In [11]:
y

                0           1         2
0   T100900000001  GO:0000001  0.000327
1   T100900000001  GO:0000002  0.001456
2   T100900000001  GO:0000003  0.089291
3   T100900000001  GO:0000011  0.000293
4   T100900000001  GO:0000012  0.000181
5   T100900000001  GO:0000017  0.000034
6   T100900000001  GO:0000018  0.002675
7   T100900000001  GO:0000019  0.000373
8   T100900000001  GO:0000022  0.000734
9   T100900000001  GO:0000023  0.000147
10  T100900000001  GO:0000024  0.000011
11  T100900000001  GO:0000025  0.000079
12  T100900000001  GO:0000027  0.000880
13  T100900000001  GO:0000028  0.000790
14  T100900000001  GO:0000032  0.000293
15  T100900000001  GO:0000038  0.000971
16  T100900000001  GO:0000041  0.004233
17  T100900000001  GO:0000045  0.001377
18  T100900000001  GO:0000050  0.000350
19  T100900000001  GO:0000052  0.000090

In [13]:
x[:20]

                0           1         2
0   T100900000001  GO:0000001  0.000327
1   T100900000001  GO:0000002  0.001456
2   T100900000001  GO:0000003  0.089291
3   T100900000001  GO:0000011  0.000293
4   T100900000001  GO:0000012  0.000181
5   T100900000001  GO:0000017  0.000034
6   T100900000001  GO:0000018  0.002675
7   T100900000001  GO:0000019  0.000373
8   T100900000001  GO:0000022  0.000734
9   T100900000001  GO:0000023  0.000147
10  T100900000001  GO:0000024  0.000011
11  T100900000001  GO:0000025  0.000079
12  T100900000001  GO:0000027  0.000880
13  T100900000001  GO:0000028  0.000790
14  T100900000001  GO:0000032  0.000293
15  T100900000001  GO:0000038  0.000971
16  T100900000001  GO:0000041  0.004233
17  T100900000001  GO:0000045  0.001377
18  T100900000001  GO:0000050  0.000350
19  T100900000001  GO:0000052  0.000090